<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
  	<header>
  		<a href="/"><h1>Halt and Catch Fire Syllabus</h1></a>
  	</header>
  	<nav>
  		{% for post in site.classes %}
			  <span class="class-list"><a href="{{ post.url }}">#{{ post.number }}</a></span>
			{% endfor %}
  	</nav>
    <div id="index">
      <div class="aboutImg" markdown="1">
      <img src="{{ site.baseurl }}/assets/img/cam-dither.jpg">
      </div>
    	<div id="about">
      {{ content }}
    	</div>
      <div class="aboutImg2" markdown="1">
      <img src="{{ site.baseurl }}/assets/img/cam-dither2.jpg">
      </div>
    </div>
  </body>
</html>
